.Menu {
  background-color: theme("colors.purple");
  width: max-content;
  color: theme("colors.white");
  padding: 0.2rem 1rem;
  /*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  
  */
}
.Menu * {
  margin: 1rem;
}
.Menu-logo {
  width: 70%;
}

.Menu-functionalities {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Menu-functionality,
.Menu-logout {
  display: flex; /*flex direction : row by default*/
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  border-radius: 10%;
  color: theme("colors.white");
  margin: 0.1rem;
  transition: border-color 0.2s ease-in-out;
}

.Menu-functionality {
  width: 100%;
  display: flex;
}

.Menu-functionality *,
.Menu-logout * {
  margin: 0.5rem;
}

.Menu-functionality-icon {
  max-width: 100%;
}
.Menu-logout {
  background-color: theme("colors.dark-purple");
  padding: 0.5rem;
}

button:hover {
  cursor: pointer;
  border-color: theme("colors.white");
}
