html {
  user-select: none;
  box-sizing: border-box;
  font-size: calc(11px + 0.3vw);
  scroll-behavior: smooth;
  color: #ffffff;
}

.Menu {
  background-color: theme("colors.purple");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: max-content;
  padding: 2rem;
  color: theme("colors.white");
}

.Menu-logo {
  width: 70%;
}
.Menu-functionalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Menu-functionality,
.Menu-logout {
  display: flex; /*flex direction : row by default*/
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  border-radius: 10%;
  color: theme("colors.white");
  margin: 0.5rem;
  transition: border-color 0.2s ease-in-out;
}

.Menu-functionality {
  width: 100%;
  display: flex;
}

.Menu-functionality *,
.Menu-logout * {
  margin: 10px;
}

.Menu-logout {
  background-color: theme("colors.dark-purple");
  padding: 0.5rem;
}

button:hover {
  cursor: pointer;
  border-color: theme("colors.white");
}
