:root {
  --dark-purple: #481177;
  --purple: #6d4192;
  --light-purple: #ae68ef;
  --rose: #eadffb;
  --orange: #e78f69;
  --grey: #494974;
  --white: #ffffff;
}

html {
  user-select: none;
  box-sizing: border-box;
  font-size: calc(11px + 0.3vw);
  scroll-behavior: smooth;
  color: #ffffff;
}

.Menu {
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: max-content;
  padding: 10px;
  color: var(--white);
}

.Menu-logo {
  width: 60%;
}
.Menu-functionalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Menu-functionality,
.Menu-logout {
  display: flex; /*flex direction : row by default*/
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  border-radius: 10%;
  border-color: transparent;
  color: var(--white);
  margin: 3px;
  transition: border-color 0.2s ease-in-out;
}

.Menu-functionality {
  width: 100%;
  display: flex;
}

.Menu-functionality * {
  margin: 10px;
}

.Menu-logout {
  background-color: var(--dark-purple);
}

button:hover {
  cursor: pointer;
  border-color: var(--white);
}
