.form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 1%;
    padding: 50px;
    <div className={`bg-white-bluish w-full flex `}>
      <SideBar />
      <div className={`grow flex flex-col justify-between`}>
        <div className="flex justify-end">
          <ProfileIcon />
        </div>
        <Inscription01 />
      </div>
    </div>
  }
  
  .form-column {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
  }
  input {
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: none;
  }
  .zoom-out {
    transform: scale(0.3); /* Apply scale transform */
  }
  .button{
    color: white;
    background-color: #52BCA2;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
  }