* {
  font-family: "Poppins", sans-serif;
}

.Search-Doctorant {
  background-color: #e3edef;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.Search-Results {
  margin: 2rem;
}

.Search-Results * {
  align-items: center;
  align-content: center;
}

* {
  color: gray;
}
.SearchBar-Filters-Doctorant {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Update-Doctorant-Button.Search {
  flex: 2;
}

select {
  color: black;
}

#searchBar {
  width: 30rem;
  border: #1e2959 solid 1px;
  filter: drop-shadow(2px 2px 2px #00000043);
}

#searchBar:focus {
  outline: none;
  border: #51bca2 solid 1px;
}

.btn-appliquer {
  filter: drop-shadow(2px 2px 2px #00000043);
}
