.Title{
    background: linear-gradient(to left, #19202E, #35468E);
        width: 350px;
        height: 55px;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #ffffff;
        font-size: 20px;
        margin-top: 80px;
        margin-left: 60px;
        font-weight: bold;
        font-family:'Poppins';
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        padding-left: 30px; 
}
.form-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.buttonn{
    background-color: #52BCA2;
    margin-left: 750px;
    margin-top: 0px;
  }
.selected{
          background-Color: white;
          border-Color: #19202E;
          color: #1E2959;
          //placeholderColor: "#35468E",
          fontSize: "1rem",
          borderRadius: "0.375rem",
          padding: "0.5rem",
}