.Title{
    background: linear-gradient(to left, #19202E, #35468E);
        width: 350px;
        height: 55px;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #ffffff;
        font-size: 20px;
        margin-top: 80px;
        margin-left: 60px;
        font-weight: bold;
        font-family:'Poppins';
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        padding-left: 30px; 
}
label{
    font-bold text-dark-purple focus:text-green
}