.Filter-Doctorant {
  margin: 10px;
  flex: 1;
}

.Filter-Doctorant.Search {
  flex: 2;
}

#searchBar {
  width: 30rem;
  border: #1e2959 solid 1px;
  filter: drop-shadow(2px 2px 2px #00000043);
}

#searchBar:focus {
  outline: none;
  border: #51bca2 solid 1px;
}

.btn-appliquer {
  filter: drop-shadow(2px 2px 2px #00000043);
}
