.Search-Results {
  margin: 2rem;
}

.Search-Results * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
* {
  color: gray;
}
.SearchBar-Filters-Doctorant {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Filter-Doctorant {
  margin: 10px;
  flex: 1;
}

.Filter-Doctorant.Search {
  flex: 2;
}

select {
  color: black;
}
