<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formencadrant</title>
</head>
<body>
    <h1>Cet encadrant n'existe pas dans la base de données  </h1><br>
    <p>remplissez ce formulaire pour l'ajouter</p>
    <form action="/encadrant" method="post"> 
        <form>
          
        
          <label for="nom">Nom:</label>
          <input type="text" id="nom" name="nom"><br>
        
          <label for="prenom">Prénom:</label>
          <input type="text" id="prenom" name="prenom"><br>

          <label for="grade">Grade:</label>
          <input type="text" id="grade" name="grade"><br>

          <label for="etablissement">Etablissement:</label>
          <input type="text" id="etablissement" name="etablissement"><br>

          <label for="specialite">Specialite:</label>
          <input type="text" id="specialite" name="specialite"><br>

          <label for="diplome">Diplome:</label>
          <input type="text" id="diplome" name="diplome"><br>

          <label for="mail">Mail:</label>
          <input type="text" id="mail" name="mail"><br>

          <label for="telephone">Telephone:</label>
          <input type="text" id="telephone" name="telephone"><br>

          <label for="laboratoire">Laboratoire :</label>
          <input type="text" id="laboratoire" name="laboratoire"><br>

          <label for="Sujets_interet">Sujets et interet:</label>
          <input type="text" id="Sujets_interet" name="Sujets_interet"><br>
          
          <input type="submit" value="Ajouter">
        </form>

          

</body>
</html>
